{
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "postgres",
    "password": "123456",
    "database": "reddit-for-migration",
    "entities": ["dist/entities/*.js"],
    "migration": ["dist/migration/*.js"]
}